@media(max-width:768px){
    .desktop{
        display:none;
    }
    .mobile{
        display:block;
    }
    .book{
        font-size: 1em;
        }
    .name{
        font-size: 1.2em;
    }

    .header{
        padding:1rem 1rem;
    }
    .walk{
        font-size: 2rem;
    }
   
    .contents{
        width:70%;
    }
    .contents .age{
        font-size: 1.5em;
    }
    main{
        margin-top: 16rem;
    }
    .footer{
        margin:0;
    }
        .slides {
    display: flex;
    width:100%; /* 100% * number of images (3 images here) */
    height: 100%;
    justify-content:center;
    }

    .slides img{
        width:25%;
        height:auto;
        object-fit:cover;
    }
    ul{
        display:flex;
        ;
        flex-wrap: wrap;
    }
    .space{
        height:5rem;
    }
    .container{
        width:90%;
        justify-content: center;
        display: flex;
        font-size: 1.1em;
    }
    .contents p{
        letter-spacing: 0;
        font-size: 15px;
    }
    .services{
        font-size: 1em;
    }
}

@media(min-width:768px){
    .mobile{
        display:none;
    }
    .desktop{
        display:block;
    }
    #calendarContainer{
        background:none;
    }
    #read{
        display:none;
    }
    .contents p{
        letter-spacing: 2px;
    }
    main{
        padding-top:7rem;
    }
    .top{
        padding: 0.5rem 0 0 0;
    }
    .slides {
    display: flex;
    width:100%; /* 100% * number of images (3 images here) */
    height: 100%;
    justify-content:center;
    }

    .slides img{
        width:25%;
        height:auto;
        object-fit:cover;
    }
    .bg{
        padding:0;
        height:auto;
    }
}

@media(width:768px){
 .walk{
    font-size: 2rem;
 }
main{
     padding-top:3rem;
}
